/* 
    Author:     Mark Schuurmans
    Date:       17-3-2021
    File:       styles/style.scss
*/

// Aanspreken variables voor veel voorkomende kleuren
$grey-color2: #1e1e1e;
$title-color: #4cc9a4;
$footerColor: #2b2b2b;
$primary-color: #0f141e;
$grey-color: #3f3f3f;

$green: #0dd66c;
$orange: #fb6340;
$red: #f5365c;

// Aanspreken fonts
@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Light.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Regular.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: 600;
}

// Verijwderd standaard margin en padding
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    // Zorgt ervoor wanneer je margin of padding toevoegt het niet bij de heigth of width wordt opgetelt
    box-sizing: border-box;
}

li {
    list-style: none;
    a {
        // Geeft dezelfde kleur als het element waar het zich in bevindt
        color: inherit;
        text-decoration: none;
    }
}

// Zet de standaard font-family naar Montserrat met 2 fallback fonts (Niet in de * selector omdat dat de performance zou verminderen)
body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

header {
    & > div {
        text-align: center;
    }

    img {
        margin: 2em 0;
    }

    nav {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        width: 100%;
        a {
            padding: 1em 0;
            position: relative;
            display: block;
            // Zorgt ervoor dat het psuedo ::after element niet meer zichtbaar is wanneer deze het a element verlaat
            overflow: hidden;
            font-size: 14px;
            font-weight: 600;
            color: rgba($color: $primary-color, $alpha: 0.6);

            &:hover,
            &:focus {
                outline: none;
                color: $primary-color;
            }

            &::after {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 3px;
                background-color: $grey-color2;
                // Verplaatst het element 110% (van zijn eigen grootte) naar beneden
                transform: translateY(110%);
                transition: transform 300ms ease, color 300ms ease;
                transform-origin: bottom;
            }
            &:hover::after,
            &:focus::after {
                transform: translateY(-40%);
            }
        }
    }

    ul {
        display: flex;
        justify-content: space-between;
        min-width: 40%;
        max-width: 800px;
        margin: 0 auto;
    }
}

.intro {
    text-align: center;
    color: white;
    background-image: url(../images/background.jpg);
    background-position: center;
    min-height: 50vh;
    // Zet alle content in het midden
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
        margin-bottom: 0.8em;
        font-size: 43px;
    }

    p {
        font-size: 21px;
    }

    // selecteerd alle p tags die een p tag voor zich hebben (dus niet de eerste)
    p + p {
        margin-top: 2em;
        font-size: 16px;
    }

    .signup--btn {
        background-color: white;
        color: $grey-color2;
        transition: background-color 300ms ease, color 300ms ease;
        &:hover {
            background-color: $grey-color2;
            color: white;
        }
    }

    div {
        background-color: rgba(0, 0, 0, 0.3);
        padding: 2em 1em;
    }

    a {
        margin-top: 1em;
        display: inline-block;
        text-decoration: none;
        color: inherit;
        padding: 0.5em 0.75em;
        background-color: $grey-color2;
        border: 2px solid $grey-color2;
        font-weight: 500;
        font-size: 14px;
    }

    &__signup--section {
        padding: 7.5vh 0;
        text-align: center;
        min-width: 60%;
        max-width: 800px;
        margin: 0 auto;
        display: grid;
        // Maakt 3 gelijke vlakken van de child elementen
        grid-template-columns: 1fr 1fr 1fr;
        img {
            height: 100px;
        }

        h3 {
            color: $title-color;
            margin-top: 1em;
            font-size: 24px;
            font-weight: 500;
        }

        p {
            margin: 1em auto;
            color: $grey-color;
            font-size: 18px;
            font-weight: 400;
            width: 80%;
        }

        a {
            display: inline-block;
            color: white;
            background-color: $grey-color2;
            text-decoration: none;
            padding: 0.5em 0.75em;
        }
    }

    &__background--section {
        background-image: url("../images/valley-background.jpg");
        background-position: center;
        min-height: 60vh;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            font-size: 26px;
            font-weight: 400;
            font-style: normal;
        }
        a {
            display: inline-block;
            color: white;
            text-decoration: none;
            background-color: $footerColor;
            padding: 0.75em 1em;
            margin-top: 2em;
        }
    }
}

.test {
    padding: 7em 0;
    min-width: 300px;
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
    h2 {
        font-size: 32px;
        color: $grey-color2;
        font-weight: 600;
        position: relative;
        display: inline-block;
        &::after {
            // Zet de tekst content naar "New!"
            content: "New!";
            font-size: 14px;
            background-color: rgb(24, 109, 206);
            color: white;
            padding: 0.4em;
            position: absolute;
            right: -40px;
            top: -25px;
            // Maakt de rechter en linkbovenhoek rond
            border-radius: 0 40% 0 40%;
        }
    }
    p {
        font-size: 24px;
        font-weight: 500;
        margin: 0 0 0.5em 0;
        color: $grey-color2;
    }

    a {
        display: inline-block;
        text-decoration: none;
        padding: 0.7em 0.5em;
        color: #fff;
        background-color: $grey-color2;
        border: 3px solid $grey-color2;
        transition: background-color 300ms ease, color 300ms ease;
        font-weight: 600;
        border-radius: 10px;
        &:hover {
            background-color: #fff;
            color: $grey-color2;
        }
    }
}

.information {
    text-align: center;
    padding: 0 0.5em;
    max-width: 600px;
    min-width: 60%;
    margin: 0 auto;
    h2 {
        margin-top: 2em;
        font-size: 32px;
        color: $title-color;
        font-weight: 500;
    }

    p {
        font-weight: 400;
        font-size: 24px;
        color: $grey-color;
    }
}

// Zorgt ervoor dat niet alle elementen naast elkaar komen te staan
label,
select {
    display: block;
}

select {
    background-color: #ebebeb;
    font-size: 20px;
    min-width: 175px;
    border: none;
    margin: 0.75em 0 2em 0;
    padding: 0.75em 0.5em;
    position: relative;
    // Maakt de curser een pointer zodat er duidelijk gemaakt wordt dat je erop kan drukken
    cursor: pointer;
}

label {
    // Het label element heeft bij default geen "text" cursor
    cursor: text;
    font-size: 24px;
    font-weight: 500;
    & + div {
        width: 50%;
        position: relative;
        &::before {
            z-index: 1;
            content: "";
            position: absolute;
            width: 3px;
            left: 0;
            top: 0;
            bottom: 0;
            background-color: $grey-color;
        }
        // Classes die met Javascript worden toegekent
        &.green::before {
            background-color: $green;
        }

        &.orange::before {
            background-color: $orange;
        }

        &.red::before {
            background-color: $red;
        }
    }
}

select:focus {
    outline: none;
}

.form {
    width: 80%;
    margin: 10vh auto;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    padding: 3em;
    &__button--container {
        // Duwt alle element naar de zijkanten (aangezien het er maar 2 zijn)
        display: flex;
        justify-content: space-between;
    }
}

section.intro--form {
    background-image: url("../images/form-background.jpg");
    min-height: 40vh;
}

.result {
    color: $grey-color2;
    margin-top: 2em;
    font-size: 20px;
    font-weight: 500;
    span {
        color: $title-color;
        font-weight: 600;
        margin-bottom: 0.5em;
        display: block;
        font-size: 24px;
        &.orange {
            color: $orange;
        }
        &.red {
            color: $red;
        }
    }
}

.print--button,
.submit,
.clear--button {
    // Zolang deze waarde 0.5x zo groot als de hoogte van het element word deze perfect rond
    border-radius: 100px;
    padding: 1em 2em;
    // Maakt de curser een pointer zodat er duidelijk gemaakt wordt dat je erop kan drukken
    cursor: pointer;
    border: none;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 300ms ease;
    &:hover,
    &:focus {
        outline: none;
        // Vervangt de bovenstaande box-shadow met een inset
        box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
    }
}

.earlierAttempts {
    margin-bottom: 0.75em;
    color: $title-color;
    &--container {
        float: right;
        text-align: right;
        // Hier kan geen display none komen omdat wanneer je met javascript display: block geeft je het niet meer weg kan halen in de @media print stylesheet
        height: 0;
        overflow: hidden;
        margin-bottom: 2rem;
        p {
            font-weight: 500;
            font-size: 24px;
        }
        p + p {
            font-size: 20px;
        }
    }
}

.footer {
    background-color: $footerColor;
    color: white;
    padding: 5vh 25% 0 25%;

    h3 {
        font-weight: 500;
        margin-bottom: 0.5em;
    }

    &--intro {
        border-bottom: 2px solid rgb(31, 31, 31);
        padding-bottom: 2em;
        h3 {
            font-size: 18px;
        }
    }

    &__body--container {
        padding-top: 2em;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-row-gap: 3em;
        a {
            font-size: 14px;
        }
    }

    &__links--container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    &__sponsor {
        height: 100%;
        &--img__container {
            margin: 2em 0;
            display: flex;
            justify-content: space-between;
            max-width: 100%;
        }
    }

    &__bottom--container {
        padding: 4em 0;
        text-align: center;
        font-size: 14px;
        p {
            margin: 2em 0;
        }
    }
}

// Deze styles worden toegepast als de pagina kleiner is dan 950 pixels (in de breedte)
@media (max-width: 950px) {
    header ul {
        flex-direction: column;
        text-align: center;
    }

    .earlierAttempts--container {
        text-align: left;
        // Disabled float op kleinere schermen en brengt het weer terug in de document flow
        float: initial;
    }

    .footer {
        padding: 5vh 5% 0 5%;
        text-align: center;
    }
}

@media print {
    // Zorgt ervoor dat alle kleuren behouden worden wanneer de gebruiker de pagina probeert te printen
    * {
        -webkit-print-color-adjust: exact;
    }

    // Verwijderd de onderstaande element uit de documentflow
    nav,
    .intro--form,
    .footer,
    .print--button,
    .submit,
    .earlierAttempts--container {
        display: none;
    }

    .form {
        margin-top: 0;
        // verwijderd het pijltje, omdat wanneer iemand de pagina print alle vragen al ingevuld zijn en er geen "indicator" hoeft te zijn dat je het "select" element kan uitklappen.
        select {
            -webkit-appearance: none;
            -moz-appearance: none;
        }
    }

    label {
        font-size: 20px;
    }
}
